{% extends 'master.html' %}

{% block title %}
  <title>About Us</title>
{% endblock %}


{% block content %}
    <h2 class="text-center text-danger">Our Team</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa, dolorem incidunt minima nisi perspiciatis quis quo! Assumenda delectus dolorum, ipsa minus optio reprehenderit sequi similique unde voluptatibus. Modi, similique.</span><span>Consequuntur, eveniet fugiat illum ipsa laborum provident qui quod sed totam ut voluptas voluptatem voluptates! A dolorum necessitatibus officia quisquam reprehenderit? Exercitationem, facilis, odit? Cupiditate in ipsa omnis qui soluta?</span><span>Accusantium aliquid aperiam at atque consequuntur cumque dignissimos dolorum ducimus earum exercitationem fuga hic, inventore ipsam itaque laboriosam, laudantium maiores minus molestias mollitia quas quod saepe sunt vero voluptas voluptatum?</span></p>
    
    <h2>Our Products</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur eligendi ex fugit id illo, illum laborum nobis obcaecati omnis optio quaerat quisquam quod sapiente sunt suscipit velit. Ab, magni!</span><span>A animi commodi consequuntur, cumque dicta, dignissimos dolor dolores eius excepturi facere fugiat hic iure libero minima minus molestias natus nesciunt nulla placeat quod sint unde ut vero voluptate voluptatibus.</span></p>
{% endblock %}